



/* This is my first proper css file */

body{
    background-color: burlywood;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(0, 0, 0);
    font-family: system-ui;
}

h3{
    color: rgb(109, 53, 35);
    font-family: system-ui;
}

p{font-family: system-ui;
color: whitesmoke;
}

div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  } 
  
  div.d {
    text-align: justify;
  } 

.chart{
    background-color: white;
    width:auto;
    height: auto;
    margin: auto;
    padding: 5pt;
    align-items: center;
    justify-content: center;  
    border-width: 1px;
    border-style: solid;
    border-radius: auto;
    border-color: rgb(0, 0, 0);
    
}


/* Button Format */
.button-56 {
    align-items: center;
    margin: 10px;
    background-color: rgb(109, 53, 35);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    font-family: system-ui;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: rgb(109, 53, 35);
    outline: 0;
}

    .button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
    padding: 0 40px;
  }

}

