



/* This is my first proper css file */

body{
    background-color: rgb(93, 152, 192);
    max-width: 450px;
    margin: auto;
}

h1{

    color: black;
    font-family: system-ui;
}

h3{
    color: white;
    font-family: system-ui;
}

p{font-family: system-ui;
color: rgba(0, 0, 0, 0.507);
}


.chart{
    background-color: white;
    width:auto;
    border-width: 1px;
    border-style: solid;
    border-radius: auto;
    border-color: rgb(0, 0, 0);
    margin: auto;
}

